/*
=============================================
                CUSTOMIZE BS4
=============================================
*/
.container {
   @include innerPDLR($size--5, $size--5);
}
.navbar {
   padding: 0;
}

.navbar-brand {
   @include innerPDTB(0, 0);
}

.navbar-collapse {
   justify-content: flex-end;
}

.nav-link {
   padding: 0;
}

@media (min-width: 1260px) {
   .container {
      max-width: 1260px;
   }
}

@media (min-width: 576px) {
   .navbar-expand-sm .navbar-nav .nav-link {
      @include innerPDLR(0, 0);
   }
}
