$color--primary: #191919;
$color--secondary: #b61984;
$color--text: #181818;
$color--hover: #ee5b54;
$color--black: #000000;
$color--white: #ffffff;
$color--bg: #dcd1f3;
$color--transparent: transparent;

$color--grey-1: rgb(204 204 204 / 50%);
$color--black-1: rgb(0 0 0 / 20%);
$color--black-2: rgb(0 0 0 / 10%);

// Font-size
$fs--2: 13px;
$fs--1: 15px;

$fs--input: 0.8em;
$fs--3: 0.9em;

$fs--5: 0.75rem;
$fs--4: 0.9rem;
$fs--11: 1rem;
$fs--9: 1.1rem;
$fs--6: 1.55rem;
$fs--12: 2rem;
$fs--7: 2.5rem;
$fs--10: 3.15rem;
$fs--8: 3.8rem;

// Font-weight
$fw--1: 400;
$fw--2: 500;
$fw--3: 600;
$fw--4: 700;

// Height
$height--1: 101vh;

// Size
$size--1: 0;
$size--2: 1px;
$size--16: 2px;
$size--7: 4px;
$size--17: 5px;
$size--3: 10px;
$size--4: -10px;
$size--14: 15px;
$size--10: 20px;
$size--9: -20px;
$size--5: 30px;
$size--15: 35px;
$size--11: 40px;
$size--13: -40px;
$size--12: 50px;

$size--6: 3em;

$size--8: 4rem;

// BreakPoints
$breakpoints: (
   "extra-large": 1260px,
   "extra-large-1": 1199px,
   "large": 992px,
   "medium": 782px,
);
