/*
=============================================
                    HEADER
=============================================
*/
header {
   position: absolute;
   width: 100%;

   font-size: $fs--2;

   z-index: 1000;
   @extend .transition;

   .navbar-brand img {
      width: 80px;
   }

   .nav-item {
      padding: 0 50px 0 0;

      &:hover .nav-link {
         color: $color--secondary;
      }
   }

   .nav-link {
      @include styleText($fs--2, $fw--3, $color--text);
      line-height: 80px;

      @extend .transition;
   }

   .header__barMenu {
      align-items: center;

      font-size: $fs--3;
      line-height: 38px;
   }

   .header__contact {
      margin: 6px;
      padding: 1.1em 1.5em;

      @extend .btnSecondary;

      i {
         color: $color--white;
         padding-right: 0.5em;

         @extend .transition;
      }

      &:hover {
         @extend .btnSecondaryHover;

         i {
            color: $color--secondary;
         }
      }
   }

   .header__socialMedia {
      a {
         display: inline-block;
         line-height: 38px;

         margin-left: 1em;

         @extend .transition;

         &:hover i {
            color: $color--secondary;
         }
      }
   }
}

// Header fixed when scroll to bottom
#header.scrolled {
   position: fixed;
   @include boxShadow(0, 0, $size--3, 0, $color--grey-1);
   background-color: $color--white;
}

#header.scrolled .navbar-brand {
   visibility: hidden;
}

#header.scrolled .navbar-brand img {
   height: 0;
}

#header.scrolled .nav-link {
   line-height: 45px;
}

#header.scrolled .header__contact {
   padding: 0.8em 1.5em;
}

// Screen width < 1260px
#navbarImg {
   display: none;

   img {
      width: 90px;
   }
}

.fa-xmark {
   padding: 0;
   font-size: 2rem;
   color: $color--secondary;
}

.fa-bars,
.fa-xmark {
   visibility: hidden;
   line-height: 1.6;
}

/*
=============================================
                RESPONSIVE
=============================================
*/
@include responsive("extra-large") {
   header .container {
      padding: 0;
   }

   .navbar-expand-xl {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;

      padding: 0 30px;
      background-color: $color--white;
   }

   .navbar-brand {
      position: relative;
      left: 50px;
   }

   header .navbar .navbar-brand img {
      width: 48px;
   }

   .navbar-expand-xl .navbar-toggler {
      display: block;
   }

   .navbar-toggler {
      position: absolute;

      font-size: $fs--12;
      color: $color--secondary;

      padding: 0;
   }

   .navbar-toggler:focus {
      outline: none;
   }

   .fa-bars.active,
   .fa-xmark.active {
      visibility: visible;
   }

   #closeIcon {
      position: absolute;
      left: 350px;
   }

   .navbar-expand-xl .navbar-collapse {
      display: block !important;
   }

   .navbar-collapse {
      position: absolute;
      left: 0px;
      top: 0;
      width: 320px;

      background-color: $color--white;
      padding: 0 30px;
      text-align: center;

      //   @include boxShadow($size--16, 0, 0, $size--17, $color--black-2);
      transform: translateX(-100%);

      transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1);
   }

   .navbar-collapse {
      .nav-item {
         padding: 0;
      }

      .nav-link {
         font-weight: $fw--1;
         line-height: 1.1;

         padding: 1em 2em;
         border: none;
      }
   }

   .navbar-expand-xl .navbar-nav {
      display: flex;
      flex-direction: column;
      list-style: none;

      padding-left: 0;
      margin-bottom: 0;
   }

   .navbar-nav {
      justify-content: center;
   }

   .navbar-nav #navbarImg {
      display: block;
      margin-bottom: 24px;
   }

   .header__barMenu {
      flex-wrap: wrap;
      justify-content: center;

      margin: 2em 0;
   }

   // CSS when event scroll to bottom
   #header.scrolled .navbar .navbar-brand {
      visibility: visible;
   }

   #header.scrolled .navbar .navbar-brand img {
      height: auto;
   }

   #header.scrolled .nav-item .nav-link {
      line-height: 1.1;
   }

   // CSS when event click btnOpen Navbar
   #body.noscroll {
      width: 100vw;
      overflow: hidden;
   }

   .navbar-collapse.show {
      transform: translateX(0px);
   }

   #collapsibleNavId {
      height: 101vh;
      overflow-y: scroll;
   }
}
